{% extends 'base.html' %}
{% block main %}
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {% for post in posts %}
                    <div class="post-preview">
                        <a href="{% url 'post-detail' post.id %}">
                            <h2 class="post-title">{{ post.title }}</h2>
                            <h3 class="post-subtitle">{{ post.preview }}</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="{% url 'user-detail' post.user.id %}">{{ post.user.username }}</a>
                            on {{ post.created | date }}
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                {% endfor %}
                <!-- Pager-->
                <div class="d-flex justify-content-end mb-4">
                    <a class="btn btn-primary text-uppercase" href="{% url 'post-list' topic.id %}">More Posts →</a>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}