{% extends 'base.html' %}
{% block main %}
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {% for topic in topics %}
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="{% url 'topic-detail' topic.id %}">
                            <h2 class="post-title">{{ topic.name }}</h2>
                        </a>
                        <p class="post-meta">
                            {{ topic.name }} has:
                            <a href="{% url 'post-list' topic.id %}">{{ topic.post_set.count }}</a>
                            posts, 
                            created: {{ topic.created | date }}
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock main %}